<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315454762356-ju2n0h32g0etnv8ie891tb58ag13pgso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315454762356-ju2n0h32g0etnv8ie891tb58ag13pgso</string>
	<key>API_KEY</key>
	<string>AIzaSyBde1A0MdR1Fimsh4diAQvwDV6m3ruJAtg</string>
	<key>GCM_SENDER_ID</key>
	<string>315454762356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSkeleton</string>
	<key>PROJECT_ID</key>
	<string>sketelonproject</string>
	<key>STORAGE_BUCKET</key>
	<string>sketelonproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315454762356:ios:d1a8822e81ceca43575021</string>
</dict>
</plist>